:root {
  font-size: 10px;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: var(--dark);
  color: var(--light);
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;

  display: grid;
  place-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  background-color: var(--gray-500);
  border-radius: 0.5rem;
  padding: 3rem;
  min-width: 30%;
  color: var(--dark);
}

.title {
  padding: 2rem;
  font-size: 3rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.form-group label {
  font-size: 1.8rem;
}

form button {
  margin-top: 2rem;
}

input {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  background-color: var(--light);
}

input:focus {
  border: 2px solid var(--dark);
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}

.btn-info {
  background-color: var(--info);
}
.btn-success {
  background-color: var(--success);
  color: var(--light);
}
.btn-danger {
  background-color: var(--danger);
  color: var(--light);
}
