* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

ul {
  list-style: none;
}

.container {
  text-align: center;

  /* SOLUTION */
  height: 100%;
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 9fr;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;

  /* SOLUTION */
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

/* SOLUTION */
.header .logo {
  justify-self: start;
}

/* SOLUTION */
.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #c50208;

  /* SOLUTION */
  grid-area: sidebar;
  display: grid;
  gap: 50px;
}

/* SOLUTION */
.sidebar > * {
  border-radius: 10px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

/* SOLUTION */
.content {
  grid-area: main;
  display: grid;
  grid-template-rows: 5% auto;
}

.nav {
  background-color: #c50208;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;

  /* SOLUTION */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;

  /* SOLUTION */
  grid-area: footer;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
