doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Sign Up
    body
        .container
            .title 
                h1 Sign Up
            .content
                .form-group 
                    label Username 
                    input(type="text", name="username")
                .form-group 
                    label Password 
                    input(type="password", name="pass")
                button.btn.btn-success
