<%- include('./partials/header.ejs', {title}) %>
<div class="title mt-5">
    <h2>Create New Genre</h2>
</div>
<form class="mt-5 ml-3" action="" method="POST">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="genreName">Name</label>
      <input type="text" class="form-control" id="genreName" placeholder="Genre Name" name="name" value="<%= typeof genre !== 'undefined' ? genre.name : '' %>">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <% if (typeof errors !== 'undefined') { %>
    <ul class="mt-5 text-danger">
        <% errors.forEach(el => { %>
            <li><%= el.msg %></li>
        <% }) %>
    </ul>
  <% } %>
</form>
<%- include('./partials/footer.ejs') %>