doctype html
html
  head
    title #{title} | Stocky McStockit
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.header
      .title
        h1 Stocky McStockit
      .links 
        a(href="/products")
          span Products
        a(href="/categories")
          span Categories
    block content
    script(type='module' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js')
    script(nomodule='' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js')

