form {
  max-width: 50%;
  display: grid;
  margin: 0 auto;
  gap: 1rem;
  margin-bottom: 2rem;
}

form button {
  justify-self: center;
}

.form-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.edit,
.delete {
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.edit:hover,
.delete:hover {
  transform: scale(1.1);
}

.edit:hover {
  color: forestgreen;
}

.delete:hover {
  color: crimson;
}
