extends layout

block content
  main
    .title
      h2 Login
    form(method="post")
      .form-group
        label(for="email") Email
        input#email(
          type="email",
          name="email",
          placeholder="hunter2@gmail.com",
          required
        )
      .form-group
        label(for="password") Password
        input#password(required, name="password", type="password")
        if err !== undefined
          ul.text-danger
            each el in err 
              li= el
        button.btn-success Send
