extends layout

block content
  main
    .title.upgrade-title
      h2 Upgrade Account
      p You need to be a member to submit messages, you are currently a guest.
    form(method="post")
      .form-group
        label(for="password") Super Secret Upgrade Password
          span (Just hover this)
        input#password(type="password", name="password")

      if err !== undefined
        ul.text-danger
          each el in err 
            li= el.msg

      button.btn-success Upgrade Account
