:root {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media screen and (max-width: 1300px) {
  :root {
    font-size: 9px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 6px;
  }
}
